# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run/
build/
.gradle/
src/main/resources/assets/
bbmodels/
.idea/

# Files from Forge MDK
forge*changelog.txt
